@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
  }
}

.marquee-wrapper {
  width: 100%;
  overflow: hidden;
  padding: 20px 0;
  position: relative;
}

.marquee-content {
  display: inline-block;
  white-space: nowrap;
  animation: scrollMarquee 20s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scrollMarquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
